import 'dart:io';

class Environment {
  static const apiURL = 'http://0.0.0.0:8000';
  static const zapierOAuthRedirect = 'https://zapier.com/dashboard/auth/oauth/return/<ID HERE>/';
  static const deepgramURL = 'wss://api.deepgram.com/v1/listen?encoding=linear16&sample_rate=16000&language=en-GB&model=nova';
  static const deepgramApiKey = '<API KEY>';
  static const replicateApiKey = '<API KEY>';
  static const replicateModelVersion = '<API KEY>';
  static final segmentApiKey = Platform.isAndroid ? '<API KEY>' : '<API KEY>';
  static const guestUsername = "<GUEST_USER_NAME>";
  static const guestPassword = "<GUEST_PASSWORD>";
  static const isDev = true;
}
